# Ignore database configuration file
ftp/config.php

# Ignore the audio files
ftp/audio/

# Ignore user_data.sh
user_data.sh

# Ignore all shell scripts
*.sh

# Ignore the editor files
ftp/gf/editor.html
ftp/db/editor.html