# Ignore database configuration file
ftp/config.php

# Ignore the audio files
ftp/audio/

# Ignore user_data.sh
user_data.sh

# Ignore all shell scripts
*.sh

# Ignore the editor files
ftp/gf/editor.html
ftp/db/editor.html

# Ignore the scripts
# user_data.sh

# Ignore the database
ftp/mthw_reviews.db

# Ignore the backup scripts
ftp/review_handler_mysql8.php
ftp/reviewForm_mysql.php

old_reviews/old_reviews.csv
