@font-face {
  font-family: "Graff";
  src: url("../fonts/kosalsayshy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, transparent, gold 60%);
  /* background-image: linear-gradient(to bottom, black, gold 60%); */
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

.icon_row {
  flex: 1;
  padding: 0.75vw 0px 0.5vw 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 10%); /* Adjust grid columns */
  justify-content: right;
  gap: 1.2em;
}

.grid-item {
  padding: 0px;
}

.icon {
  width: 50px;
  height: 50px;
}

.rollover_row {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.15vw;
}

.static-div {
  color: white;
}
.nav_hover {
  font-family: "Graff", Arial, Helvetica, sans-serif;
  color: #0f4c81;
  padding-left: 10px;
  margin-top: 10px;
}

a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

/* For screens larger than or equal to 2500px */
@media only screen and (min-width: 2500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 8%); /* Adjust grid columns */
    justify-content: right;
  }

  .static-div {
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* For screens larger than 1024px and less than 1439px */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  /* footer {
    background-color: lightcoral;
  } */

  .rollover_row {
    font-size: 2.5vw;
  }

  .static-div {
    color: white;
    padding-left: 10px;
  }
  .nav_hover {
    font-size: 2.5vm;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

/* Screens between 640px and 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  footer {
    position: relative;
  }

  .static-div {
    color: white;
  }
  .nav_hover {
    font-size: 2vm;
  }
  .icon_row {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 2px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  .rollover_row {
    display: none;
  }
}

/* Screens less than 640px */
@media (max-width: 639px) {
  footer {
    position: relative;
    background-color: gold;
  }

  .icon_row {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 2px;
  }

  .rollover_row {
    display: none;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
