@font-face {
  font-family: "Graff";
  src: url("../fonts/kosalsayshy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.icon_row {
  flex: 1;
  padding: 0.75vw 0px 0.5vw 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 10%); /* Adjust grid columns */
  justify-content: right;
  gap: 1.2em;
}

.grid-item {
  padding: 0px;
}

.icon {
  width: 48px;
  height: 48px;
}

.rollover_row {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: left;
  font-family: "Raleway", sans-serif;
  font-size: 2.15vw;
}

.static-div {
  color: #85cdff;
}
.nav_hover {
  font-family: "Graff", Arial, Helvetica, sans-serif;
  color: #0f4c81;
  padding-left: 10px;
  margin-top: 10px;
}

a:link,
a:visited,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (max-width: 1023px) {
  .footer {
    background-color: gold;
  }

  .icon_row {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 2px;
  }

  .rollover_row {
    display: none;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}

/* For high-resolution screens (e.g., Retina displays) */
@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-color: gold;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 2px;
  }

  .rollover_row {
    height: 0;
    overflow: hidden;
    border-bottom: 2px solid #000;
  }

  .icon {
    width: 40px;
    height: 40px;
  }
}
